.big_input{
    width: 480px;
    margin-left:10%;
    margin-top:10px;
}

.big_text{
    width: 480px;
    margin-left:5%;
    resize:none;
}

.choice_name{
    width: 320px;
    margin:10px 5px 10px 30px;
}

.choice_score{
    width: 220px;
    margin:10px 5px 10px 30px;
}

.tempname{
    width: 480px;
    margin-top:10px;
}

.temp{
    margin: 5px;
    width:auto;
    height: auto;
    border: 1px solid black;
}

.float{
    float: left;
}